$base-color:#d5e5ff; //Themer Blue
$base-black-color:black;
$base-gray-color:#959a9e;
$base-white-color:#f4f5f7;
$base-blue-color:#081b51;
$accent-color:#081b51;
//$base-color:#EF5350; //red-ish
//$base-color:#8D6E63; //brå
//$base-color:#26A69A; //green-ish