.footerview { 
	border-left: 0; 
	border-top: 0; 
	color: $base-black-color;
	background-color: $base-color;
}

.footerviewtext { 
	font-size: 16px; 
  color: $base-black-color;
	padding: 0 0 0 15px;
}

@include button-ui(
	$ui: 'footerbutton',
	$background-color: transparent,
	$color: $base-black-color,
	$border-color: transparent
);